* {
  padding: 0;
  margin: 0;
}

:root {
  --anim-duration: 0.3s;
}

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Segoe UI';
}

body {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.intro {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 5px;
  text-align: center;
}

.intro p {
  font-size: large;
  font-weight: 500;
}

.wrapper {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper p#result {
  font-size: xx-large;
  font-weight: 700;
  align-self: center;
}

.wrapper p#calc {
  font-size: large;
  font-weight: 500;
  align-self: flex-start;
}

.wrapper p#hint {
  font-size: medium;
  font-weight: 500;
  align-self: center;
}

button {
  cursor: pointer;
}

button:hover {
  animation: buttonHover;
  animation-duration: var(--anim-duration);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes buttonHover {
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid white;
    color: white;
  }
}

.grade-btn {
  margin: 5px;
  text-align: center;
  font-size: small;
  font-weight: 800;
  border-radius: 16px;
  padding: 10px 10px;
  border: 2px solid black;
  background-color: rgba(255, 154, 225, 0.75);
}

.reset-btn {
  margin: 5px;
  width: auto;
  text-align: center;
  align-self: center;
  font-size: small;
  font-weight: 800;
  border-radius: 16px;
  padding: 10px 10px;
  border: 2px solid black;
  background-color: rgba(255, 190, 190, 0.75);
}

.grade-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-self: center;
}

.thesis {
  font-weight: 700;
  align-self: center;
}

.thesis-btn-red {
  width: 40px;
  text-align: center;
  align-self: center;
  font-size: small;
  font-weight: 800;
  border-radius: 16px;
  padding: 5px 5px;
  border: 2px solid black;
  background-color: rgba(255, 72, 0, 0.8);
}

.thesis-btn-green {
  width: 40px;
  text-align: center;
  align-self: center;
  font-size: small;
  font-weight: 800;
  border-radius: 16px;
  padding: 5px 5px;
  border: 2px solid black;
  background-color: rgba(0, 255, 0, 0.8);
}

.hidden {
  display: none;
}

.effect-red {
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  40% {
    color: rgba(255, 0, 0, 1);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}

.effect-yellow {
  animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  40% {
    color: rgba(255, 255, 0, 1);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}

.effect-blue {
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  40% {
    color: rgb(0, 132, 255);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}

.effect-green {
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  40% {
    color: rgb(0, 255, 0);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}

.effect-rainbow {
  animation: pulse-rainbow 2s infinite;
}

@keyframes pulse-rainbow {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  15% {
    color: rgb(255, 0, 0);
  }

  30% {
    color: rgb(255, 187, 0);
  }

  45% {
    color: rgb(0, 255, 0);
  }

  60% {
    color: rgb(0, 132, 255);
  }

  75% {
    color: rgb(217, 0, 255);
  }

  90% {
    color: rgb(132, 0, 255);
  }

  100% {
    color: rgba(0, 0, 0, 1);
  }
}